<form>
    <label for="blogHeading">Blog Header</label>
    <br>
    <textarea name="blogHeading" id="blogHeading" cols="100" rows="3" placeholder="Enter the Post Heading"></textarea>
    <br>
    <label for="blog">Blog Text</label>
    <br>
    <textarea name="blog" id="blog" cols="100" rows="20" placeholder="Enter the Post text"></textarea>
    <br>
    <label for="author">Author</label>
    <br>
    <textarea name="author" id="blog" cols="100" rows="3" placeholder="Author"></textarea>
    <br>
    <button type="submit">Submit</button>

    <br>
</form>