form {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5%;
    margin-bottom: 70px;
    background-color: #ffffff2a;
    padding: 2%;
    border-style: ridge;
}

label {
    font-size: large;
}

textarea {
    border-style: ridge;
    width: 80%;
}

button {
    width: 30%;
    height: 40px;
    margin-top: 30px;
    color: whitesmoke;
    border-radius: 20px;
    border-style: ridge;
    background: #642969;
}