form {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5%;
    margin-bottom: 70px;
    background-color: #ffffff2a;
    padding: 2%;
    border-style: ridge;
}

label {
    font-size: large;
}

textarea {
    border-style: ridge;
    width: 80%;
}